<mat-sidenav-container class="container">
  <mat-sidenav
          class="sidenav"
          mode="side"
          opened
          fixedInViewport="true"
          fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">

      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>
        Home
      </a>

<!--      <a mat-list-item routerLink="/services">-->
<!--        <i class="material-icons">storefront</i>-->
<!--        Services-->
<!--      </a>-->

      <a mat-list-item routerLink="/services/create">
        <i class="material-icons">add_circle</i>
        Create Service
      </a>

      <a mat-list-item routerLink="/services/read">
        <i class="material-icons">search</i>
        Get Service Details
      </a>

      <a mat-list-item routerLink="/services/update">
        <i class="material-icons">edit</i>
        Update Service
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
